/* You can add global styles to this file, and also import other style files */
@use 'theme';

:root {
    @include theme.go();
}

.dark-green {
    --primary: green;
    --dark: 1;
}

body {
    background: var(--background-color);
}
