[explain] {
    background-color: rgba(255, 255, 0, 0.2);
    cursor: pointer;
    position: relative;
}


/* 1. first-letter, first-line */ 

/* 2. selection, marker */

/* 3. before, after */

/* 4. Tooltip using CSS */

/* 5. File type icons */
