/* 1. cascading demo */
:root {
    --kobi: 49;
    --kobi-color: green;
}

/* 2. var demo */
.colors div {
    background-color: var(--kobi-color);
}

/* 3. computation demo */
.colors div {
    --hue: 120;
    --saturation: 40%;
    --lightness: 0%;

    --bs-offset: 2px;
    --bs-blur: calc(var(--bs-offset) * 1.5);
    --bs-spread: 0px;
    --bs-color: gray;

    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    box-shadow: var(--bs-offset) var(--bs-offset) var(--bs-blur) var(--bs-spread) var(--bs-color);
}

.colors div:nth-child(1) {
    --lightness: 10%;
    --bs-offset: 1px;
}

.colors div:nth-child(2) {
    --lightness: 20%;
    --bs-offset: 2px;
}

.colors div:nth-child(3) {
    --lightness: 30%;
    --bs-offset: 3px;
}

.colors div:nth-child(4) {
    --lightness: 40%;
    --bs-offset: 4px;
}

.colors div:nth-child(5) {
    --lightness: 50%;
    --bs-offset: 5px;
}

.colors div:nth-child(6) {
    --lightness: 60%;
    --bs-offset: 6px;
}

.colors div:nth-child(7) {
    --lightness: 70%;
    --bs-offset: 7px;
}

.colors div:nth-child(8) {
    --lightness: 80%;
    --bs-offset: 8px;
}

.colors div:nth-child(9) {
    --lightness: 90%;
    --bs-offset: 9px;
}

.colors div:nth-child(10) {
    --lightness: 100%;
    --bs-offset: 10px;
}

